<ion-view title="A propos" id="apropos">
    <ion-content padding="true" class="has-header">
        <h1 id="aPropos-heading1" style="color:#8C001A;text-align:center;">World Wine</h1>
        <div id="aPropos-markdown1" style="color:#000000;">
            <p>Cette appli a été conçue pour les amoureux du vin, les épicuriens qui souhaitent découvrir de nouveaux vins en se promenant.</p>
        </div>
        <div class="list card">
            <div class="item item-divider">Vignerons</div>
            <div class="item item-body">
                <div id="aPropos-markdown2" style="color:#000000;">
                    <p>Ils sont l'essence même du vin, nous avons travaillé avec eux pour qu'ils nous transmettent tous les éléments nécessaires à la réalisation de cette app</p>
                </div>
            </div>
            <div class="item item-divider">Merci à eux !</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Terroirs</div>
            <div class="item item-body">
                <div id="aPropos-markdown3" style="color:#000000;">
                    <p>En se promenant grâce à cette appli, vous pourrez découvrir ou redécouvrir des terroirs et des cépages que nos vignerons partenaires travaillent au quotidien</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">MS-WEBSERVICES</div>
            <div class="item item-body">
                <div id="aPropos-markdown5" style="color:#000000;">
                    <p>Nous sommes une agence web basé à Aigle dans le canton de Vaud. Création de site internet, référencement, audit de sites web, création d'appli, vous pouvez retrouver le détail de nos prestations sur notre site web :</p>
                </div>
                <div>
                    <p>
                        <a href="http://ms-webservices.ch">MS-WEBSERIVCES</a>
                    </p>
                </div>
            </div>
            <div class="item item-divider">Chemin du Sillon 26,AIGLE</div>
        </div>
    </ion-content>
</ion-view>