<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-assertive tabs-icon-top">
        <ion-tab title="Accueil" icon="ion-ios-home-outline" href="#/page1/accueil-world-wine">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="A proximité" icon="ion-map" href="#/page1/vignerons-proximite-list">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Chercher" icon="ion-android-search" href="#/page1/chercher-vignerons">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="A propos" icon="ion-help" href="#/page1/apropos">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>